<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <property resource="commons.properties"/>

    <!-- Console 输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p %40.40c:%4L - %m%n</pattern>
        </encoder>
    </appender>

    <!-- ===================== 文件 Appender ===================== -->

    <appender name="traceAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <File>${logging.file.path:-/tmp/cordys/logs/cordys-crm}/trace.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${logging.file.path:-/tmp/cordys/logs/cordys-crm}/history/trace.%d{yyyyMMdd}-%i.log</FileNamePattern>
            <maxHistory>${logger.max.history:-30}</maxHistory>
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="debugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <File>${logging.file.path:-/tmp/cordys/logs/cordys-crm}/debug.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${logging.file.path:-/tmp/cordys/logs/cordys-crm}/history/debug.%d{yyyyMMdd}-%i.log</FileNamePattern>
            <maxHistory>${logger.max.history:-30}</maxHistory>
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <File>${logging.file.path:-/tmp/cordys/logs/cordys-crm}/info.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${logging.file.path:-/tmp/cordys/logs/cordys-crm}/history/info.%d{yyyyMMdd}-%i.log</FileNamePattern>
            <maxHistory>${logger.max.history:-30}</maxHistory>
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="warnAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <File>${logging.file.path:-/tmp/cordys/logs/cordys-crm}/warn.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${logging.file.path:-/tmp/cordys/logs/cordys-crm}/history/warn.%d{yyyyMMdd}-%i.log</FileNamePattern>
            <maxHistory>${logger.max.history:-30}</maxHistory>
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <File>${logging.file.path:-/tmp/cordys/logs/cordys-crm}/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${logging.file.path:-/tmp/cordys/logs/cordys-crm}/history/error.%d{yyyyMMdd}-%i.log</FileNamePattern>
            <maxHistory>${logger.max.history:-30}</maxHistory>
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- ===================== Async Appender ===================== -->

    <appender name="traceAsyncAppender" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <queueSize>10000</queueSize>
        <appender-ref ref="traceAppender"/>
    </appender>

    <appender name="debugAsyncAppender" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <queueSize>10000</queueSize>
        <appender-ref ref="debugAppender"/>
    </appender>

    <appender name="infoAsyncAppender" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <queueSize>10000</queueSize>
        <appender-ref ref="infoAppender"/>
    </appender>

    <appender name="warnAsyncAppender" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <queueSize>10000</queueSize>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="warnAppender"/>
    </appender>

    <appender name="errorAsyncAppender" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <queueSize>10000</queueSize>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="errorAppender"/>
    </appender>

    <!-- ===================== 日志级别配置 ===================== -->

    <!-- 根日志级别 -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="infoAsyncAppender"/>
        <appender-ref ref="warnAsyncAppender"/>
        <appender-ref ref="errorAsyncAppender"/>
    </root>

    <!-- 框架日志级别 -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="cn.cordys" level="INFO"/>

</configuration>
